[2021-03-14 18:46] profxj commented on #676
It had expired.  Here is the new one:

https://join.slack.com/t/pypeit-users/shared_invite/zt-ng4dkzxz-Y4pw9MsDd1cVT2XvHJyXeQ

[2021-03-15 09:07] Raindogjones commented on #1158
`method='simple'` also fails, I'm afraid!  Here's the error:

[INFO]    :: arc.py 478 get_censpec() - Extracting approximate arc spectrum along the center of slit 0
[WORK IN ]::
[PROGRESS]:: arc.py 1123 simple_calib() - Detecting lines..
[INFO]    :: arc.py 1139 simple_calib() - Using input lines to seed the wavelength solution
[INFO]    :: arc.py 1144 simple_calib() - Will apply a median offset o

[2021-03-18 11:18] Raindogjones commented on #1158
To update, I managed to get hold of a linux machine on which to test pypeit_identify and I get essentially the same error (for reference, matplotlib v3.1.2 and TkVersion 8.6):

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/matplotlib/cbook/__init__.py", line 216, in process
    func(*args, **kwargs)
  File "/home/flori/.local/lib/python3.8/site-packages/pypeit/core/gui/

[2021-03-18 12:43] rcooke-ast commented on #1158
Thanks @Raindogjones - I'm going to try different versions of TK to see if I can reproduce the error. I haven't noticed anything on the PypeIt Slack, but I can share the calibration files with you via Slack, if that's helpful in the near term.

I think the `simple_calib` might be deprecated... Most of time, it should be a matter of using either the holy grail method (this is a really tricky proble

[2021-03-18 13:15] Raindogjones commented on #1158
@rcooke-ast That would be great, thanks!  I'd then at least be able to use pypeit for the two OSIRIS setups that I personally have data in (the other works fine with holy-grail).

I ran some tests on the rest of the offered GTC-OSIRIS setups, holy-grail seems to work for about half and fails for the rest.  So, I'd like to sort out the reid_archive files for them *all* before submitting a pull requ

[2021-03-18 13:24] Raindogjones commented on #1158
Aha! I think I've solved the problem!

Seeing the error messages about the matplotlib backend and tkagg, I manually changed by mpl backend my matplotlibrc file to qt5agg and voila, it worked!  Suppose this should have been obvious given that the install page explains everything is built on QT but I didn't twig that it could cause a conflict.

[2021-03-18 14:34] rcooke-ast commented on #1158
Ahh, that's great news! I wonder if you could send me what you have in your matplotlibrc file, so I can reproduce it, and hopefully implement a workaround that "overwrites" the default definitions in the rc file. Thanks a bunch - I never would have looked at that...

You could send it to me on Slack, or paste the relevant line of code in the rc file here...

[2021-03-18 16:26] Raindogjones commented on #1158
My matplotlibrc was just `backend: TkAgg` and swapping that for `backend: Qt5Agg` worked.  It's very easy to override that just by adding `matplotlib.use('Qt5Agg')` to core/gui/identify.py after importing matplotlib but before importing pyplot, but I don't know if that would cause an issue if the user has PySide2 rather PyQt5 installed.

[2021-03-30 20:24] csnap001 opened #1163 "Break in 1d coadding"
This is a minor issue and doesn't occur regularly, but thought I would bring it up so that the issue is on your radar.
When doing 1d coadding and a spectrum in LRISb I got the following traceback

    Traceback (most recent call last):
      File "/Users/chrismac/opt/anaconda3/bin/pypeit_coadd_1dspec", line 11, in <module>
        sys.exit(entry_point())
      File "/Users/chrismac/opt/anaconda3/l

[2021-03-30 20:37] jhennawi commented on #1163
Thanks for digging in @csnap001. Would it be possible to make the spec1d files that reproduce this bug available in the PypeIt users Slack?

[2021-03-30 21:21] csnap001 commented on #1163
Sure, is there a preferred channel?

[2021-03-30 21:23] jhennawi commented on #1163
#coadd1d Thanks!

[2021-04-02 17:17] csnap001 opened #1165 "Identify not functional"
So this is another minor issue. When trying to use the manual identification method from the pypeit file an error occurs because of the nonlinear_counts variable (I believe this has been deprecated) at line 953 in core/arc.py:

    good = np.invert(np.isnan(twid)) & (twid > 0.0) & (twid < fwhm_max/2.35) & (tcent > 0.0) \
                & (tcent < xrng[-1]) & **(tampl_true < nonlinear_counts)**  \

[2021-04-05 21:56] profxj opened #1167 "Dump the most egregious warnings to a log file"
As titled

[2021-04-07 05:32] tepickering opened #1168 "MMT blue channel support left out of documentation index page"
Looks like mention of MMT blue channel support didn't make it into the list in `index.rst`. That's probably my bad....

[2021-04-09 20:09] debora-pe commented on #1116
Solved!

[2021-04-09 20:09] #1116 closed

[2021-04-15 22:05] profxj commented on #676
New link:

https://join.slack.com/t/pypeit-users/shared_invite/zt-p7bfqgjo-ag5JG1GTYwU0sh57dEfi_w

[2021-04-18 07:08] jhennawi opened #1170 "Current manual extraction is not useful for dithered spectra"
According to the manual extraction documented in the readthedocs and the example in the dev suite (vlt_xshooter_vis_manual.pypeit) the manual extraction will not work at all if the users dither their spectra (in other words our current implementation is useless in the IR, or if there is any flexure, or if users dither).

The current implementation uses parset parameters, which means one set of man

[2021-04-19 21:53] jhennawi commented on #1068
Resolved by PR #1071

[2021-04-19 21:53] #1068 closed

[2021-04-19 21:56] jhennawi commented on #842
@rcooke-ast can you touch base with @kbwestfall about this. We don't quite follow.

[2021-04-19 21:57] jhennawi commented on #747
Fixed by PR #1071

[2021-04-19 21:57] #747 closed

[2021-04-19 22:00] jhennawi commented on #1163
@csnap001 can I close this issue. The problem was I think with your sensitivity function and not this code.

[2021-04-20 20:18] jhennawi opened #1171 "Calspec standards need to be updated"
Calspec standards have been updated significantly. Specifically there are now wfc3 calibrated spectra with better spectral sampling than the previous stisnic files we usually recommended. The upshot is that we should update and more importantly, expand the list of "gold standard" standards stars for telluric/flux calibration. The point is that the X-shooter list while being the best, is not ideal

[2021-04-27 14:44] eteq opened #1178 "pypeit_show_2dspec or maybe ginga has a memory leak"
I have a workflow that involves a lot of back-to-back calls to `pypeit_show_2dspec`.  Conveniently, it will re-use the existing `ginga` window... But inconveniently, if I do this ~5-10 times, Ginga is using ~6 GB of memory.  Clearly there's *some* kind of memory leak.

It's rather unclear to me if this is a `ginga` issue or a `pypeit` issue, or a mix of the two, but I figured I'd leave this here a

[2021-04-27 15:02] pllim commented on #1178
Note to self:

https://github.com/pypeit/PypeIt/blob/release/pypeit/display/display.py

https://github.com/pypeit/PypeIt/blob/release/pypeit/display/ginga_plugins.py

[2021-04-27 15:30] jhennawi commented on #1178
Hi @eteq,

Ugh, ginga issues can be pretty challenging to debug. My suggestion would be to try to reproduce the problem by stripping out as much pypeit as you can and writing a ginga script to reproduce it, and then sending that to ginga developers. The ginga folks are very responsive and fix bugs fast. All we are doing is using the RC functionality in ginga. You can write a script that executes s

[2021-04-27 15:41] pllim commented on #1178
I wonder if @ejeschke have any idea by looking at the implementation in https://github.com/pypeit/PypeIt/issues/1178#issuecomment-827676558 . I have not much experience with the RC portion of Ginga, but in my experience in general, besides https://github.com/ejeschke/ginga/blob/61d9791fc2803869174243510a2fabe15b22af2e/ginga/examples/configs/general.cfg#L47-L49 , which you can set as you wish, ther

[2021-04-27 16:06] jhennawi commented on #1178
@eteq,

You can try adding

display.clear_all()

at the end.

This will make the script useless since it will immediately clear everything after displaying it. However, it might help you diagnose whether leaving the images in ginga is the problem.

[2021-04-27 19:29] ejeschke commented on #1178
(Not having looked at the implementation yet)
Couple of comments:
1) For regular paths, ginga will keep up to `numImages` in memory (and that is controlled *per-channel*) before flushing them out.  This number can be set easily by opening the `Preferences` plugin for the channel of interest, scroll down to the "General" section, open it and set the value in "Num Images".  Click the "Save Settings"

[2021-04-27 19:38] ejeschke commented on #1178
For new channels created, the value of `numImages` is inherited from the settings profile of the default `Image` channel, so it would suffice to set it for that channel to have it inherited for all others. As @pllim mentioned, it can also be set in the `general.cfg` config file (but is overridden by a saved preference in the `Image` channel, if settings have been saved for that).

[2021-04-27 20:15] ejeschke commented on #1178
Following my own advice, after testing with the reference viewer a bit, I'm pretty sure there is a leak in the reference viewer.  I've opened an issue, which you can see above.  I'm checking now with earlier releases.

[2021-04-28 13:14] #1158 closed, assigned to profxj, rcooke-ast

[2021-04-28 13:16] profxj commented on #1142
I believe this was addressed by #1172

[2021-04-28 13:16] #1142 closed, assigned to nobody

[2021-04-28 13:17] profxj commented on #1127
I believe this issue has gone away.

[2021-04-28 13:17] #1127 closed

[2021-04-28 13:36] pllim commented on #1178
Update: ejeschke/ginga#948 remains inconclusive (maybe there is no leak there after all).

A hopefully easy test you can do on this side is to disable all `ginga` calls to your plotting function and see if you still see the "leak". If you do, it is probably caused by the function generating too much in-memory arrays outside of the visualization. If not, then you can maybe re-activate the `ginga` s

[2021-04-28 13:40] profxj commented on #1125
@jhennawi -- please comment

[2021-04-28 13:44] profxj commented on #1117
I see it implemented in `full_template` and `reidentify`.
closing

[2021-04-28 13:44] #1117 closed

[2021-04-28 13:51] profxj commented on #1110
The first two items `OBJRA` and `STD` are being addressed
in the branch `odds_and_ends`

[2021-04-28 13:51] profxj commented on #1106
@feigewang -- please comment

[2021-04-28 13:52] profxj commented on #1061
@deborape -- was this addressed?

[2021-04-28 13:52] #1096 closed

[2021-04-28 13:54] profxj commented on #1013
I believe this was fixed.  But reopen if not

[2021-04-28 13:54] #1013 closed

[2021-04-28 13:56] #952 closed

[2021-04-28 13:57] profxj commented on #912
Is this ok now, @jhennawi ?

[2021-04-28 13:57] profxj commented on #911
Is this issue resolve, @jhennawi ?

[2021-04-28 13:58] #850 closed

[2021-04-28 13:59] profxj commented on #734
Appears done

[2021-04-28 13:59] #734 closed

[2021-04-28 14:02] profxj commented on #792
I believe this has been addressed.

[2021-04-28 14:02] #792 closed

[2021-04-28 14:03] profxj commented on #744
fork is deprecated

[2021-04-28 14:03] #744 closed

[2021-04-28 14:08] profxj commented on #698
implementing in `odds_and_ends`.
head's up @deborape

[2021-04-28 14:10] profxj commented on #662
addressed

[2021-04-28 14:10] #662 closed

[2021-04-28 14:10] profxj commented on #614
Is this done, @jhennawi ?

[2021-04-28 14:11] profxj commented on #465
Largely addressed

[2021-04-28 14:11] #465 closed

[2021-04-28 15:42] feigewang commented on #1106
I suppose the filter curves are in air not vacuum but I could be wrong. I am fine with switching to the speclite package.

[2021-04-28 17:19] profxj commented on #690
outdated

[2021-04-28 17:19] #690 closed

[2021-04-28 17:20] profxj commented on #200
See `pypeit_chk_for_calibs`

[2021-04-28 17:20] #200 closed

[2021-04-28 19:20] debora-pe commented on #1061
@profxj This was addressed in PR #1065

Instead of merging overlapping alignment boxes into one, PypeIt traces each alignment box and, to avoid that the edges cross, those edges are placed adjacent to one other.

[2021-04-28 19:56] #1061 closed

[2021-04-29 00:26] ejeschke commented on #1178
@eteq, @jhennawi, what version of ginga are you using?  If your interested, have a look at the issue I referenced above, but TL,DR: it doesn't look like there is any significant memory leak in ginga (at the end of the issue I tested the same RC interface method you are using (`load_np`) and it looks like ginga stays in the 600-700MB range cycling through 144 4Kx8K 16 bit buffers).  I had `numImage

[2021-04-29 00:31] jhennawi commented on #1178
Hi @ejeschke,

Thanks for your help with this. I'll let @eteq answer the ginga version question. Usually with PypeIt we always are up to date, but we may need to update our requirements in the setup settings.

Are images can be as large as 4096 by 4096 and in some cases larger. We typically have 4 tabs open with images of this size.

What is the numImages parameter? I'm not sure where to find this

[2021-04-29 00:33] ejeschke commented on #1178
@jhennawi, have a look at [this comment above](https://github.com/pypeit/PypeIt/issues/1178#issuecomment-827861311).

[2021-04-29 00:36] jhennawi commented on #1178
Hi @ejeschke,

Can you look at line 515 at this link:

https://github.com/pypeit/PypeIt/blob/release/pypeit/display/display.py

We are usually clearing ginga before running our pypeit_show_2dspec script. I think we just need to make sure that clear command is clearing everything out of ginga's memory usage.

[2021-04-29 01:03] ejeschke commented on #1178
That will remove all the channels (and *should* remove all images).

If you install the Python `memory-profiler` (`pip install -U memory_profiler`) then you can pretty easily generate usage plots for ginga yourself like so:
[code]
Then use your ipython or jupyter session to do some loads.  Close ginga and do:
[code]
it will generate a nice plot of memory use vs. time.  I found this pretty useful.

[2021-05-07 18:43] csnap001 commented on #1163
Closing now.

[2021-05-07 18:43] #1163 closed, assigned to nobody

[2021-05-11 17:56] profxj opened #1183 "Obj find 'bug'"
On occasion, when using `moment1d` to smash a slit for object finding,
there are junk edges (see attached for a DEIMOS example; det=7 for
keck_deimos/830G_M_8500).

I found I could kludge a fix by increasing the threshold used in
constructing to `mask_spec` from 0.3 to 0.8.  But this is probably
not the best fix.

![image (15)](https://user-images.githubusercontent.com/3998093/117862537-978db200-b

[2021-05-11 18:03] tbowers7 commented on #1155
This issue could possibly be rescinded / closed?

A more careful reading of the WaveCal documentation seems to indicate that spectrographs employing adjustable gratings should not be using the `reidentify` WaveCal method, but rather the `full_template` method.  Since this is the type of spectrograph I am working to add to PypeIt, this particular issue is moot for me.

This issue could still affect

[2021-05-12 11:22] profxj commented on #1155
ok, closing

[2021-05-12 11:23] #1155 closed, assigned to nobody

[2021-05-13 23:53] profxj commented on #1126
done

[2021-05-13 23:53] #1126 closed

[2021-05-13 23:53] profxj commented on #698
done

[2021-05-13 23:53] #698 closed

[2021-05-13 23:53] profxj commented on #1110
done

[2021-05-13 23:53] #1110 closed

[2021-05-13 23:53] profxj commented on #1168
done

[2021-05-13 23:53] #1168 closed, assigned to nobody

[2021-05-17 22:11] MNBrod opened #1186 "PypeIt version information in pypeit file"
It will be helpful in the long run for a user to know which version of pypeit was used to create a pypeit file. This could be as simple as a comment line underneath the timestamp at the top of the file

[2021-05-18 07:15] shriharshtendulkar opened #1187 "Missing telluric data when installing from conda"
I'm facing this issue with `pypeit` when running `sens_func`. It doesn't find the telluric spectrum where it should be:
[code]

I looked at the directory where the telluric files should be:
`/opt/miniconda3/envs/pypeit/lib/python3.8/site-packages/pypeit/data/telluric/atm_grids`
but it only has a README directing me to the pypeit installation page, which has nothing on telluric data.

I installed a

[2021-05-20 01:03] finagle29 commented on #1187
The doc page with the correct info is here https://pypeit.readthedocs.io/en/release/fluxing.html#troubleshooting

Either the install docs should be updated to mention the telluric data google drive, `atm_grids/README` should be updated to include this link.

[2021-05-20 06:55] finagle29 opened #1188 "UVIS Sensfunc Algorithm can crash when extrapolating standard star"
This has happened to me when extrapolating redward, but in principle this can happen when extrapolating blueward as well.

In `flux_calib.py:fit_zeropoint` the reference spectrum is linearly extrapolated, then if this extrapolation created negative values, the reference spectrum is fit with a polynomial, and then this polynomial fit is used in place of the reference spectrum for the rest of the fu

[2021-05-24 20:14] rcoch commented on #676
Hi, is there a new link?

[2021-05-24 22:46] profxj commented on #676
Valid for the next 25 days:

https://join.slack.com/t/pypeit-users/shared_invite/zt-qw0g0x74-ZNKkcgVdrMkplbQJQToMPQ

On Mon, May 24, 2021 at 1:15 PM Rachel Cochrane ***@***.***>
wrote:

--
--
----------------------------------------------
J. Xavier Prochaska

Distinguished Professor of Astronomy & Astrophysics
Affiliate of Ocean Sciences

UC Santa Cruz

1156 High St.
Santa Cruz, CA 95064

http://w

[2021-05-25 01:38] marlageha opened #1190 "Script pypeit_collate1d is not populating output file with correct DEIMOS detectors"
Running pypeit_collate1d on DEIMOS data, the detector column in the output file 'by_object_meta.dat' is not populated right.   The detector column repeats the blue detectors twice (1-4), rather than showing both the blue and red detector numbers which have been combined.   The output written directly to screen is correct.   I am using the by_object_meta.dat file to confirm that spectra in both det

[2021-05-25 18:30] astronomeara opened #1191 "suggestions to install on readthedocs"
For those that cut n paste into the command line from readthedocs, I recommend the following

1.
virtualenv pypeit source pypeit/bin/activate

should become

virtualenv pypeit

source pypeit/bin/activate

2.
pip install "pypeit[pyqt5]"

should become

pip install pypeit[pyqt5]

(same for the pyside2) (

similar to 1:

conda create -n pypeit python=3.8 conda activate pypeit

goes to

conda create -

[2021-05-26 20:40] marlageha opened #1193 "Suggestion for pypeit_collate1d"
For DEIMOS, pypeit_collate1d is fragile.  That is, the whole script fails if a single slit in a given mask fails.  So far, the script has only run to completion on 2 of 10 DEIMOS masks I've run so far (these were dense masks though).   The failures all occur in the pypeit_1dcoadd part of the script and tend to be lousy slits (but lousy in various different ways).   Can we consider run the co-addit

[2021-06-12 22:09] spacebound65 opened #1199 "Need New Slack Link"
I was trying to use join the slack using the invite link and my slack linked gmail account. Would I be able to get a new link for the Slack?

[2021-06-15 19:41] santoshmh opened #1205 "Correction in documentation for `pypeit_coadd_2dspec` script"
In the documentation file for `pypeit_coadd_2dspec` (https://pypeit.readthedocs.io/en/latest/coadd2d.html#), the example for _coadd2d_ file contains an error: the data block should start and end as ‘spec2d read’ and ‘spec2d end’, respectively.

[2021-06-15 20:14] kbwestfall opened #1206 "Script entry_points and spectrographs + scripts `__init__` cleanup"
Following from #1200, we'd like to clean-up how the script entry_points are collected into `setup.cfg`, and how all the relevant modules are loaded in the `__init__.py` files in the `pypeit/scripts` and `pypeit/spectrographs` directories.  Here's one of the relevant comments from @tepickering in response to #1200:

[2021-06-15 22:24] tepickering commented on #1206
i think the way to go is to generate the `entry_points` configuration at build time in `setup.py`. this would be done before the `setup()` call at the end and can use the trick to recurse through `ScriptBase` subclasses to find them. the `setup.cfg` file's `[options.entry_points]` section would then point to that generated file using the `file:` directive described above. i'll see if i can carve o

[2021-06-16 17:31] profxj opened #1207 "GMOS Grating angle for older data is not properly read"
Old Gemini data (e.g. 2005) doesn't have the CENTWAVE key.

Looks like they use `GRWLEN` or the like.

A solution for this might be to:  Modify `init_meta()` and/or `compound_meta()` in `gemini_gmos.py` to allow for these older header cards.  I might follow the approach in `keck_lris.py`

[2021-06-20 18:07] kbwestfall opened #1212 "Installation Doc: Include instructions for downloading ancillary data"
The installation doc would benefit from a section explaining how to download and install the relevant ancillary data; i.e., the telluric grids, qso models, standard stars, etc

[2021-06-23 21:00] profxj opened #1214 "Soar Goodman currently only works on 'unpacked' fits files"
The DevSuite and code was built on archival files that
were unpacked using `cfitsio`

Will be updating it to work on the archival files themselves.

[2021-07-08 12:44] #1214 closed, assigned to profxj

[2021-07-08 12:45] #1199 closed, assigned to nobody

[2021-07-08 12:46] profxj commented on #1193
Was this corrected, @badpandabear ?
Just checking.

[2021-07-08 12:46] profxj commented on #1190
And this.

[2021-07-08 12:49] profxj commented on #1165
@rcooke-ast -- do you know if this was corrected?

[2021-07-08 12:50] profxj commented on #1156
@jhennawi -- is this still the case?

[2021-07-08 12:52] profxj commented on #1099
@jhennawi -- did the MOSFIRE PR correct this?

[2021-07-08 13:33] rcooke-ast commented on #1165
I have no idea... Sorry - I didn't notice the Issue! Looking at the code, it seems the problem would have been with line 233 of `identify.py`, and I can't see why this would be a problem any more. I would consider it solved, but pypeit is broken for me at the moment (due to an astropy upgrade) so I can't check right now...

[2021-07-08 14:08] rcooke-ast commented on #1165
Just checked, and this issue seems to be addressed.

[2021-07-08 14:08] #1165 closed, assigned to nobody

[2021-07-08 14:11] rcooke-ast commented on #293
Barycentric correction already implemented

[2021-07-08 14:11] #293 closed

[2021-07-08 17:45] badpandabear commented on #1193
Yes, this was corrected with https://github.com/pypeit/PypeIt/pull/1196

[2021-07-08 17:45] #1193 closed, assigned to badpandabear

[2021-07-08 17:46] badpandabear commented on #1190
Corrected by https://github.com/pypeit/PypeIt/pull/1196

[2021-07-08 17:46] #1190 closed, assigned to badpandabear

[2021-07-09 19:24] lillianjiang commented on #676
Hi, Could you post a new link? Thank you!

[2021-07-09 19:36] profxj commented on #676
Valid for 22 days:
https://join.slack.com/t/pypeit-users/shared_invite/zt-sl1mduec-0eHuGRXGEPllSvT9IojjeQ

[2021-07-10 18:55] profxj opened #1224 "Bok B&C Wavelengths may be broken"
They sure are on `develop` for our DevSuite test

![Arc_1dfit_A_1_01_S0094](https://user-images.githubusercontent.com/3998093/125173767-c6f06a80-e175-11eb-9b61-2c989ca65176.png)

[2021-07-13 16:05] dsanmartim opened #1228 "Mismatch between the number of valid orders found by PypeIt and the number expected for magellan_fire spectrograph"
Dear developers/community,

I'm trying to reduce data taken with FIRE (Echelle mode) at Magellan Telescope and the following issue is arising:

[ERROR]   :: extract.py 1899 ech_objfind() - There is a mismatch between the number of valid orders found by PypeIt and the number expected for this spectrograph.  Unable to continue. Please submit an issue on Github: https://github.com/pypeit/PypeIt/issue

[2021-07-16 17:01] finagle29 commented on #1170
The per-file manual extraction via .pypeit file approach looks to be quite old and no longer supported (removed [here](https://github.com/pypeit/PypeIt/pull/974/files?file-filters%5B%5D=.py#diff-ffa7c536601514a4e8f574cb125cc2d8c66f899639b01684089c9259564ce2ccL659) and code to parse the manual extraction specification in the pypeit file removed [here](https://github.com/pypeit/PypeIt/pull/1050/file

[2021-07-17 02:24] sinataamoli opened #1231 "same maskid"
I'm reducing keck_deimos data. When I do:
`pypeit_setup -r [path to raw data]/ -s keck_deimos -c A`
I get this error:
`...
left_edgeloss[i] = (expected_slitlen[obj_maskdef_id == maskid] - measured_slitlen[i]) / 2.  # pixels
ValueError: setting an array element with a sequence.`
When I printed "maskid" at this line, I got an array in which there were two same elements (maskid), so `[obj_maskdef_id

[2021-07-21 15:54] oconnorb opened #1232 "Gemini GMOS-N Wavelength Calibration Issue"
Hello,

I am a new user of pypeit using the software on Gemini GMOS-N long-slit spectra (gemini_gmos_north_ham). I identified an issue with the wavelength calibration where the same lines are being identified in each detector even though the arc lines are clearly different visually. Is this a known issue and are there any recommendations to fix this?

Below I display the commands for my .pypeit fo

[2021-08-02 15:30] profxj commented on #676
New one

https://join.slack.com/t/pypeit-users/shared_invite/zt-tqlrgasm-lrII558V05UFIDTS7exVBA

[2021-08-07 13:06] profxj opened #1238 "Generate arxiv wavelength solutions for the Kastr 600 gratings"
As titled.  Need to get off the Holy Grail.

[2021-08-07 13:08] profxj commented on #1232
Yes, this is a known issue.  It should be resolved
when we start mosaicing the 3 detectors instead of
treating them independently.  That work is underway
and I anticipate will complete this month (August) or next.

[2021-08-07 18:03] debora-pe commented on #1231
Hi @sinataamoli this bug should be fixed now. Please, pull in the latest changes in the `develop` branch  and try it again. Let me know if you still have this problem.

[2021-08-08 21:19] debora-pe commented on #1205
@santoshmh this issue was addresses. It is now in the `develop` branch (https://pypeit.readthedocs.io/en/develop/coadd2d.html).

@profxj please confirm if you agree.

[2021-08-09 13:02] profxj commented on #1205
Confirmed.

[2021-08-09 13:02] #1205 closed, assigned to nobody

[2021-08-09 13:02] profxj commented on #1187
@kbwestfall -- was this addressed in your last PR?

[2021-08-09 16:26] profxj opened #1241 "Add a Table of standard frametypes for each spectrograph to the docs"
That is, those that are expected for common usage.

[2021-08-09 18:21] kbwestfall commented on #1187
Yes, but the update to the installation doc and the associated scripts haven't been merged from `develop` to `release` yet.

[2021-08-09 18:22] profxj commented on #1187
Got it.  Can you link this to your PR (i.e. reference it here)?

[2021-08-09 18:24] kbwestfall commented on #1187
Yep, see #1234 .  And preview the new installation specifics here:

https://pypeit.readthedocs.io/en/develop/installing.html#additional-data

[2021-08-10 09:16] jhennawi commented on #1228
Hi David,

My guess is that problem here is insufficient counts in your flats, which is causing the automated order identification and tracing algorithm to fail. As you can see from the development suite we example at:

https://github.com/pypeit/PypeIt-development-suite/blob/master/pypeit_files/magellan_fire_fire_echelle.pypeit

We are combining 40s flats to get build the MasterTrace image which i

[2021-08-12 17:43] profxj opened #1247 "Add references to our funding"
On GitHub and readthedocs

[2021-08-12 17:44] profxj commented on #1247
NASA/ADAP
WMKO
UCO

[2021-08-13 22:25] profxj opened #1249 "Further improve catching Header failures in pypeit_obslog and pypeit_setup"
As titled.

WIP on the `header_madness` branch.

[2021-08-16 17:27] Will-Cooper opened #1250 "WD Standards"
Hi,

I have a weird list of standards from a years old observing run on GTC-Osiris; which I'm trying to run this pipeline on. Results look great thus far, but I've just been getting to the stage of flux calibration and of my standards:

- G158-100
- G191-B2B
- GD140
- GD153
- GD248
- Hiltner 600
- Ross 640

I believe most of them have their comparative spectra/ models in the calspec/eso list, exce

[2021-08-18 16:06] rcooke-ast opened #1251 "Some feedback from a first time PypeIt user..."
I received the following feedback from someone new to PypeIt, and some of the concerns they had during the reduction.
* Suppress warning messages for frame types that were not found (e.g. there are no "align" frames for longslit)
* Suppress verify warning from astropy package
* define object and background regions (maybe interactively)?
* Allow users to run the reduction step by step and perform c

[2021-08-18 16:07] #1247 closed, assigned to nobody

[2021-08-20 19:22] dsanmartim commented on #1228
Hi Joe,

Hi Joe,

Thanks a lot for your suggestions. I’ve checked the counts and although they should be enough (if summing sky flats + quartz), your suggestion is very helpful for future reference and also to collect some extra calibrations from archive to improve the outputs. I was discussing with other people there were observing with FIRE and some of the commented they used to take the science

[2021-08-23 15:03] jhennawi commented on #1228
Hi @dsanmartim,

I'm not sure I understand your problem. Are all of the order being identified by the order tracing, and then is there a failure in wavelength calibration because of a lack of lines, or is rather the problem that you don't get all the orders identified by the order tracing. The order tracing works on the trace flats.  My suggestion is that you consult the data in the PypeIt develop

[2021-08-23 18:56] guidorb opened #1252 "Issue combining MOSFIRE frames of different sequences in the data reduction"
Hi, I'm using the development version of Pypeit (v1.4.3.dev4+gdc93fd370) and when running run_pypeit with a .pypeit file on some MOSFIRE data, the code crashes as it passes from one ABBA sequence to another. The various sequences reduce fine on their own when handled separately, but when handled together in the same pypeit file the code crashes for some reason. I attach a screenshot of the error a

[2021-08-23 21:31] jhennawi commented on #1231
Closing now, if it is still an issue we can reopen it.

[2021-08-23 21:31] #1231 closed, assigned to debora-pe

[2021-08-23 21:32] jhennawi commented on #1212
Completed.

[2021-08-23 21:32] #1212 closed, assigned to nobody

[2021-08-23 21:34] jhennawi commented on #1191
Changes made!

[2021-08-23 21:34] #1191 closed, assigned to nobody

[2021-08-23 21:35] jhennawi commented on #1188
Can we discuss this at a future developer telecon?

[2021-08-23 21:36] jhennawi commented on #1187
Installation docs now explain where to get this data.

[2021-08-23 21:36] #1187 closed, assigned to nobody

[2021-08-23 21:39] jhennawi commented on #1183
@profxj this a multislit setup but you didn't specify the slit that is problematic, making this hard to debug. Can you please provide that info.

[2021-08-23 21:39] jhennawi commented on #1178
@eteq can you please update us on the status of this issue? Has it been resolved? Can we close this issue.

[2021-08-23 21:49] jhennawi commented on #1156
Fixed in PR #1237 https://github.com/pypeit/PypeIt/pull/1237

[2021-08-23 21:49] #1156 closed, assigned to nobody

[2021-08-23 21:51] jhennawi commented on #1125
We have a function that takes care of this now, it is called tweak_standard and can be added to the spectrograph file and implemented for the setup in question. See e.g.:

https://github.com/pypeit/PypeIt/blob/release/pypeit/spectrographs/shane_kast.py

line 498

[2021-08-24 13:16] #1125 closed

[2021-08-24 13:18] profxj commented on #1183
It's been awhile.  But as I remember it, two slits crash and burn and aren't reduced.
So, if you run it through, just pick one of those.

And maybe I listed it in Slack.  Can't remember..

[2021-09-01 20:14] profxj commented on #1249
Addressed by PR #1255

[2021-09-06 18:38] kbwestfall opened #1261 "Pixelflat requirement"
Currently, `PypeIt` requires that the `pixelflat` be applied if *any* of the flat-field corrections are to be applied.  @jhennawi suggests, e.g., users may want to apply an `illumflat`, but not a `pixelflat`.  Enable this.

[2021-09-06 22:41] profxj commented on #1249
Closing, but we have more work to do.

[2021-09-06 22:41] #1249 closed, assigned to profxj

[2021-09-06 22:42] profxj opened #1262 "Header refactoring"
The slurping and handling of missing headers
could use a fresh look and (likely) refactoring.

[2021-09-10 14:55] olebole opened #1263 "Relation to specutils"
Hi,

I am currently reviewing Pypelt for the inclusion as an affiliated package. For me, the relation of the package to the [specutils](https://github.com/astropy/specutils) package (an Astropy coordinated package) is unclear. There seem to be some duplicated efforts, f.e. the [OneSpec](https://github.com/pypeit/PypeIt/blob/f8df8e6bd9b93aeffddfce0d582a695fd4d16c04/pypeit/onespec.py) class seems to

[2021-09-13 12:46] profxj commented on #676
New again

https://join.slack.com/t/pypeit-users/shared_invite/zt-vp1kpgur-J3OqLQJDZG~0gQ677PkDtQ

[2021-09-13 21:55] profxj commented on #1263
In short, PypeIt was developed in parallel with the new `Spectrum1D`  (there was
an original but it was deemed undesirable).

Second, the functionality we desire for `OneSpec` is much lighter than
what is built into `Spectrum1D` (e.g. uncertainty handling).

All that said, I could imagine a day where the two paths merged,
but that's a bit hard to predict.

As a short-term solution, I presume it wo

[2021-09-13 22:02] joellama commented on #900
Hi, I'm just wondering if there is any plans to incorporate the new NIRSPEC anytime soon?

[2021-09-13 22:14] profxj commented on #900
Possibly in 2022.
Otherwise the year after.

So not so soon, but not so forever either.

[2021-09-14 16:26] profxj commented on #1158
Word on the street is that this can be solved by
simply updating to the latest version of `PyQt5`

[2021-09-14 19:37] prappleizer opened #1265 "Frametype Background not recognized"
The documentation for `pypeit` indicates there is a frametype `background` which if specified won't be reduced and will be used to sky subtract, e.g., for near-IR data.

When I use this frametype, I get an error:
[code]
I am not sure if I am missing something; I tried installing the development version from github to see if it was a new feature, but that hasn't fixed it either. My .pypeit file loo

[2021-09-14 21:39] debora-pe commented on #1252
This issue has been addressed in PR #1254.
Closing it.

[2021-09-14 21:39] #1252 closed, assigned to kbwestfall, debora-pe

[2021-09-15 09:07] olebole commented on #1263
Would it be useful to contact the specutils people to see how a common class hierarchy could look like? To me, having two independent classes in the Astropy ecosystem for basically the same thing seems not the best way forward.

[2021-09-15 12:40] profxj commented on #1263
Well, there is at least even a 3rd in the ecosystem:

https://github.com/linetools/linetools/blob/master/linetools/spectra/xspectrum1d.py

which existed well before the newer development of `Spectrum1D`.
I think `specutils` had special needs in mind (JWST) and went off on their
own path.

[2021-09-15 12:43] profxj commented on #1265
I don't see any discussion of a `background` frametype here:

https://pypeit.readthedocs.io/en/release/frametype.html

I think you want something like A-B subtraction, as described here:

https://pypeit.readthedocs.io/en/release/A-B_differencing.html

If that doesn't serve your needs, I suggest you jump on the PypeIt Users Slack
to discuss further.

[2021-09-15 12:43] #1265 closed, assigned to nobody

[2021-09-15 13:39] olebole commented on #1263
Maybe someone from specutils, @rosteen or @nmearl could comment here?

[2021-09-15 19:17] prappleizer commented on #1265
Hi, thanks for the quick response. The reference to the `background` frametype is in the A-B differencing page you just linked.

[2021-09-15 21:00] jhennawi commented on #1265
Hi @prappleizer,

Check out the vlt_sinfoni pypeit file here for an example of what you want to do:

https://github.com/pypeit/PypeIt-development-suite/blob/master/pypeit_files/vlt_sinfoni_k_0.8.pypeit

The background frametype is actually called sky. We need to fix that documentation -- apologies for that. If you feel like submitting a pull request to update the docs we would appreciate it!

[2021-09-16 16:01] tbowers7 opened #1266 "Need updated / corrected dev suite data for VLT_FORS2?"
I’m trying to track down the weird `vlt_fors2` error I was getting in `test_setups.py` (see discussion in PR #1258).

The root of the error seems to stem from a lack of proper calibrations for all setups, as reported by `chk_for_calibs`.

Using the dev suite `RAW_DATA/vlt_fors2/300I` files just pulled from the Google Drive, I get 5 distinct configurations:
[code]
The `chk_for_calibs` passes for se

[2021-09-16 17:44] rosteen commented on #1263
Any decisions on this front were made before my time, but as far as I'm aware the needs of `pypeit` were at least on the radar when the current `specutils` was designed, so future merger/cross utility seems perfectly reasonable. We certainly didn't design specifically around JWST, there are data loaders for JWST included in `specutils` (largely contributed by people on the JWST team) but there are

[2021-09-16 17:55] nmearl commented on #1263
`specutils`, at its core, is meant to be an analysis package. That is, spectral data should be reduced and properly formatted _before_ being fed into `specutils`. From there, the package modules represent ways to interact with and analyze the spectral data.

Comparatively, `PypeIt` is more a reduction package: it can take raw observations and detector-specific information and reduce it to the leve

[2021-09-16 17:58] astronomeara commented on #1263
Here at Keck, I’m seriously looking at incorporating many of the specutils/specviz things for quick-time analysis.  What would be nice is if we could eventually guarantee that PypeIt generated data can be easily read in, or at least we can make a translator.

J

[2021-09-16 18:17] eteq commented on #1263
I mostly agree with that, but I think it *is* worth thinking about how/if the machinery in pypeit can use the specutils data structures internally (echoing what @rosteen said that this). That doesn't necessarily *have* to be the case for affiliated package inclusion, but it's something to think about (and historically in some cases has landed affiliated packages in "yellow" instead of "green" stat

[2021-09-16 18:27] profxj commented on #1263
I propose the moment we hear more people are using `specutils` to view/analyze their
PypeIt products than `linetools` then we abandon the latter.   I surely have no desire
to maintain its GUIs indefinitely. ;)

[2021-09-16 19:05] olebole commented on #1263
@eteq specreduce isn't an Astropy affiliated package, is it?

To me, the situation currently looks as if there are two competing approaches to handle spectra: one is represented by specutils,  specreduce and synphot (driven by STScI), and the other is linetools+PypeIt. And both seem to have their potential and their followers.

This is -- in my opinion -- not a very fortunate situation, as spectro

[2021-09-16 19:17] profxj commented on #1263
I think the ideal answer is "maybe" to unification while the
reality is that I have little motivation to develop `linetools` any further
(beyond maintaining what is there).

And I suspect I'd be more likely to adopt `speclite`
in PypeIt if we were to use a different external package.
https://github.com/desihub/speclite
and DESI's tools for spectra viewing (although I admit I've
not used them much

[2021-09-16 22:08] tepickering commented on #1263
i'll chime in to state that i agree 100% with @eteq that `pypeit` and `specreduce` are opposite, yet highly complementary, in their goals and missions.

i also want to state that unity in defining/handling 1D spectra does not currently exist within the astropy affiliated ecosystem. specifically, `synphot` does not use `specutils` or `Spectrum1D` at all and instead defines its own hierarchy of spec

[2021-09-28 13:47] profxj opened #1269 "Improve doc strings and API as per the astropy recommendations"
See https://github.com/astropy/astropy.github.com/pull/436
for details.

[2021-09-30 21:47] jhennawi opened #1270 "MasterFrame calibration bits cannot be easily associated with the calib ids and files used to create them"
For near-IR reduction there is often a long list of arcs and tilts associated with many different calib IDs (since we get arcs and tilts from the OH sky lines). In this situation one needs to be able to know for example which QA files correspond to which set of frames. This is currently impossibly given the bits used to name the MasterFiles.

An easy solution would be a script that prints out this

[2021-10-08 13:00] profxj commented on #1022
What is the unique and terse MasterKey to be generated?
Maybe something using MJD?

  Without that, this Issue can't proceed.

[2021-10-15 00:27] kbwestfall opened #1276 "Check data matches spectrograph"
If possible, can we implement code early on in `run_pypeit` that makes some nominal checks that the data in the pypeit file matches certain expectations from the user-designated spectrograph?  Easy to chalk it up to user error, but this recently happened and the error message was far too obtuse.

[2021-10-15 14:52] profxj commented on #1270
Done

[2021-10-15 14:52] #1270 closed, assigned to profxj

[2021-10-15 14:53] profxj commented on #1266
Not reproduced.

[2021-10-15 14:53] #1266 closed, assigned to nobody

[2021-10-15 14:53] profxj opened #1277 "Ignore BITMASK changes in show_spec2d"
Ignore the change in datamodel for this with the
`pypeit_show_2dspec` script, if possible.

[2021-10-21 12:52] profxj commented on #676
New invite:

https://join.slack.com/t/pypeit-users/shared_invite/zt-xku1fxms-Ht3BgnCvmieD9qWLc45_Qg

[2021-10-25 18:32] profxj commented on #1276
We can and probably should do queries against `INSTRUME` in the header.
  For those instruments that provide it..

[2021-10-29 13:57] freddavies opened #1281 "Color blind friendly plotting"
I recently gave a PypeIt tutorial, and a color blind colleague noted that they could not see the red slit edges in the ginga viewer at all, as they cannot tell the difference between black and bright red. Similarly, they could not see the masked pixels in the 2D tilts QA.

It would probably be worth adjusting the color palette to be more visible for such folks.

[2021-10-30 01:10] tbowers7 opened #1282 "Correct Flexure Correction` documentation"
The flexure correction documentation (https://pypeit.readthedocs.io/en/latest/flexure.html#flexure) states that spectral flexure correction is enabled by default.

However, the default FlexurePar key `spec_method` actually defaults to `skip`.  This parameter is set to either `boxcar` or `slitcen` for the following spectrographs only:
* Gemini/GMOS (N&S)
* Keck DEIMOS
* Keck KCWI
* Keck LRIS (all)

[2021-10-30 01:11] tbowers7 opened #1283 "Correct "Flexure Correction" documentation"
The flexure correction documentation (https://pypeit.readthedocs.io/en/latest/flexure.html#flexure) states that spectral flexure correction is enabled by default.

However, the default FlexurePar key `spec_method` actually defaults to `skip`.  This parameter is set to either `boxcar` or `slitcen` for the following spectrographs only:
* Gemini/GMOS (N&S)
* Keck DEIMOS
* Keck KCWI
* Keck LRIS (all)

[2021-10-30 01:11] #1282 closed, assigned to nobody

[2021-11-01 21:48] #1277 closed, assigned to nobody

[2021-11-01 22:07] profxj commented on #1281
https://colorbrewer2.org/#type=sequential&scheme=BuGn&n=3

[2021-11-03 18:59] debora-pe commented on #1281
addressed in PR #1285.
Closing this.

[2021-11-03 18:59] #1281 closed, assigned to nobody

[2021-11-03 19:03] debora-pe commented on #1283
Addressed in PR #1285
Closing this.

[2021-11-03 19:03] #1283 closed, assigned to nobody

[2021-11-03 19:08] tbowers7 commented on #1283
Thanks for adding this!

[2021-11-03 22:29] profxj opened #1286 "Add another DEIMOS 600ZD arxiv solution"
For non `calib_blue` users.

Use whatever are the default lamps for these persons,
i.e. whatever the Keck GUI turns on.

[2021-11-05 12:44] profxj opened #1287 "Add all the scripts to the PypeIt Scripts page"
e.g. `pypeit_show_1dspec`

This page:  https://pypeit.readthedocs.io/en/release/scripts.html

[2021-11-15 18:54] profxj opened #1291 "Convert find_fwhm to arcseconds"
Currently we use pixels and don't account for binning either..

[2021-12-12 15:00] #1276 closed, assigned to nobody

[2021-12-12 15:02] profxj commented on #1206
@tepickering -- did we do this?  Seems like we have.

[2021-12-12 19:14] tepickering commented on #1206
no, we're still defining `entry_points` manually in `setup.cfg`. the python packaging ecosystem is moving away from `setup.*` and towards `pyproject.toml` (PEP 621). that also doesn't provide any way to dynamically build an `entry_points` config and i don't see any sign of support for a `file:` directive in the documentation. that all said, in the current `setup.cfg` there are a few `entry_points`

[2021-12-14 18:09] profxj opened #1304 "Consider another way to hold ManualExtraction info"
Instead of a `DataContainer`

see #1275 for current implementation

[2021-12-20 02:04] AstroSong opened #1306 "Can the "1200/7100 D55 for red arm" be added for DBSP wavelength calibration?"
Hi,

I found the wavelength calibration of the DBSP 1200/7100 D55 for red arm is not supported. Can it be added?

Thank you very much.

Cheers,
Song

[2021-12-23 15:08] brackham commented on #676
Hi, could you post a new link? Thanks!

[2021-12-24 15:33] profxj commented on #676
https://join.slack.com/t/pypeit-users/shared_invite/zt-10bz58add-94l6VSh7VcdQEEuL4FH1nw

[2022-01-05 17:10] lukasfurtak opened #1309 "Adding Gemini GNIRS 111 l/mm grating"
Hi,

I am currently trying to reduce some Gemini GNIRS data and from running `run_pypeit` I get the feedback

[code]

Our observations were taken with the 111 l/mm grating, i.e. the `dispname` for these is: 111/mmSB_G5534

As I understand it from looking at the source code for GNIRS, this is because PypeIt only supports the 32 l/mm and 10 l/mm gratings of GNIRS so far. Would it therefore be possib

[2022-01-09 00:23] jhennawi opened #1310 "bug in pypeit_parse_calib_id"
I tried running it on keck_mosfire_y_long.pypeit in the development suite. Got the following crash. My guess is this was never tested on 'all' as being one of the calib IDs. If that is the bug here, please add a test with 'all' in the PR that fixes this.

![Screenshot 2022-01-08 at 16 22 54](https://user-images.githubusercontent.com/8774563/148664436-20e2cf43-7691-4d87-b156-4a7da8374d9c.png)

[2022-01-09 15:23] profxj commented on #1306
It certainly can.  If you are willing to make the effort,
we will help.  Join the Users Slack for assistance.

[2022-01-09 15:24] profxj commented on #1309
That would great.  Please join the Users Slack for additional
guidance. Thx!

[2022-01-15 01:51] zakamska commented on #676
I must have just missed the cutoff, am only seeing the link for ucolick.org email addresses... Would you be willing to post again?

[2022-01-15 13:53] profxj commented on #676
You bet:

https://join.slack.com/t/pypeit-users/shared_invite/zt-11kfaynrb-SUL1BDim5fNXux19OqrU_g

[2022-01-19 17:29] profxj opened #1316 "Bug in target assignment?"
@deborape -- When working on QA related to the spectra and
using the `keck_deimos/1200G_M_5500` setup, I see what I think
is a bug:

[code]

If I understand it, the target=17 has been assigned into 2 different slits.
Kindly give a quick look if you can.  Thx!

[2022-01-19 17:54] profxj commented on #1316
Turns out the observers really did name two objects the same!

No bug

[2022-01-19 17:54] #1316 closed, assigned to debora-pe

[2022-01-21 14:37] marlageha opened #1317 "Collate1d request for rms threshold"
Collate1d request to add a first of two features:   Add a flag to allow users to remove spec1d files where the arc solution has failed (that is, rms_arc_* > threshold).  In case of DEIMOS, there are rare slits with good red chips wavelength solutions, but the blue solution has failed (or vice versa).   I'd like an automated way to remove these spectra from the coadd by setting an threshold for the

[2022-01-21 14:37] marlageha opened #1318 "Collate1d request for heliocentric correction option"
Collate1d request to add a second of two features:   For stellar work, I do not correct the single exposure wavelength arrays for heliocentric velocities.   However, in the coadded spectra, I'd like the option to apply this correction, especially in co-adding exposures from different nights of the same mask.

[2022-01-27 12:30] freddavies opened #1323 "Peculiar issue with coadding A-B X-shooter VIS data"
PypeIt crashes during `pypeit_coadd_1dspec` under some very specific circumstances (on `develop`). When reducing a large X-Shooter VIS dataset with A-B differencing, everything goes smoothly until the coadding step, when it crashes due to the `wave_grid` being empty.

The `wave_grid` is empty because a negative wavelength is making its way into the `OPT_MASK` of the 1D extracted spectra, so then w

[2022-02-01 16:31] tbowers7 opened #1327 "Add a PypeIt loader to SpecUtils"
As discussed in #1263 and related conversation among the development team, it would be helpful to add a loader for PypeIt spec1d FITS files to the Astropy-coordinated SpecUtils package.

I know various PypeIt developers and users have created their own SpecUtils "[custom loader](https://specutils.readthedocs.io/en/stable/custom_loading.html)" for PypeIt data, but having a PypeIt-sponsored default

[2022-02-01 18:57] tepickering commented on #1327
having some familiarity with `specutils`, i'd be happy to help with this. i'll try to take a look at your specutils fork later today...

[2022-02-02 15:27] tbowers7 opened #1330 "Check for unsupported default-overwrites from Astropy Tables"
In Astropy 5.0, support was removed for the deprecated `overwrite=None` option for `astropy.io.ascii.ui.write()`.  Overwriting existing files now only happens if `overwrite=True` is specified in the call to `.write()`.

One such instance in the PypeIt code base was corrected in #1329 within the `pypeit_identify` script.  As users upgrade to Astropy 5.0+, they may encounter other places in the Pype

[2022-02-03 03:55] tbowers7 commented on #1330
Working purely from a grep of "`.write(`" in the `pypeit` directory (and excluding the `deprecated` tree), I find three groups of instances related to this issue:

1. `ascii.write()` instances that already have an `overwrite` keyword call.
2. `ascii.write()` instances that might need an `overwrite` call added, depending on context.
3. Possible FITS table writers (uncertain whether we need `overwri

[2022-02-04 13:30] profxj commented on #1327
I support this and can help where needed.
Meet on Slack to discuss further

[2022-02-04 13:33] profxj commented on #1330
Gack.  Good catch.  Myself, I wish we would
just use `pandas`, but not going to happen given
that we are wedded to FITS.

We'll discuss this Issue at the next Team meeting.

[2022-02-08 10:06] lukasfurtak opened #1332 "Error in coadd2d for X-SHOOTER NIR spectra"
Hi,
I get the following error message for coadd2d:

[code]

It comes for simply trying to coadd 2 telluric standard spectra. Spectra and config file are attached, thanks!

[Telluric2_coadd2d.txt](https://github.com/pypeit/PypeIt/files/8022736/Telluric2_coadd2d.txt)
[spec1d_XSHOO.2021-11-15T00:03:26.550-STD,TELLURIC_XShooter_NIR_20211115T000326.550.txt](https://github.com/pypeit/PypeIt/files/802273

[2022-02-14 01:53] jhennawi commented on #1332
Hi @lukasfurtak,

My guess is that some orders got masked. You can check this by running pypeit_show_2dspec and inspecting the original frames. It will probably be easier to get assistance via the PypeIt Users Slack channel. Also, while this does not speak to any issues you are encountering, I don't think it makes much sense to coadd telluric standards in 2d. A 1d coadd is surely the way to go the

[2022-02-14 13:50] lukasfurtak commented on #1332
Hi @jhennawi,

thanks for your answer. Could I have a link to the slack channel then?

I agree about the co-adding in 2d, this was a test run because I got some issue 'no object found' when co-adding science frames in 2d so I tried co-adding something that definitely has a detection.

[2022-02-14 15:50] yuyuishi commented on #676
Hi, could you post a new link please? Thanks!

[2022-02-14 15:51] profxj commented on #676
https://join.slack.com/t/pypeit-users/shared_invite/zt-13vt6l7rk-1hAwUQT_MNlcuDbbpz_fwQ

[2022-02-16 04:58] wynnjacobson-galan opened #1343 "sensfunc error - Kast red"
Hi there,

I get the following error when I try to generate a sensitivity function on the red side of kast:

`UnboundLocalError: local variable 'gpm_out' referenced before assignment`

Can you help with this?

Thanks!

-Wynn

[2022-02-16 12:58] profxj opened #1345 "Remove deprecated WavelengthSolutionPar keywords"
e.g. `wv_cen`, `disp`

[2022-02-16 12:59] profxj commented on #1343
Please join our Users Slack, read the #guidelines
 and join the #fluxing channel to discuss further.

[2022-02-16 12:59] #1343 closed, assigned to nobody

[2022-02-17 19:53] profxj opened #1348 "astropy v4.3"
I bet we need to bump our requirement to hear, as reported
by a user in Slack.

[2022-02-17 20:25] KevinMcK95 opened #1349 "pypeit_sensfunc fails for shane_kast_red"
When running `pypeit_sensfunc` with `shane_kast_red` data, I get the following error:
[code]

It looks like this is because `gpm_out` is defined inside of an if statement in `spectrographs/shane_kast.py` that is only true for `shane_kast_blue` data. To fix this, I just add an else statement that sets `gpm_out=gpm_in` before line 557

[2022-02-19 19:04] freddavies opened #1350 "Manual Coadd2D offsets do not take into account slit tilts"
The current logic in `coadd2d.py` implements manual offsets by applying a pixel shift to a reference trace along the "spatial axis" of the detector. However, in echelle or other highly tilted slit configurations, these offsets will not be correct in general.

The two possible options I see to fix this are:

1. Correct the offsets pixel-by-pixel along the trace to account for the tilts
2. Apply the

[2022-02-23 15:53] palfeng opened #1352 "Hg/Cd arc lines seem to be incomplete for MMT"
Hello, I'm Xinfeng, and have been reducing the MMT blue_Channel data using Pypeit v1.8.0. Everything works perfect except I found some of the Hg and Cd lines are missing in the linelist table: ~/anaconda3/envs/pypeit/lib/python3.8/site-packages/pypeit/data/arc_lines/lists/HgI_lines.dat and CdI_lines.dat. These lines are at the very blue end (which is the purpose of using MMT blue_channel), and wit

[2022-02-23 17:16] muethela opened #1354 "Telluric correction script requires coaddition to run"
When working through SOAR/Goodman data, I was not able to perform telluric correction on my single science file after fluxing the file. Through discussion on the slack channel, it was discovered that the telluric script requires a coadded file to run. Running the single science frame through the coaddition script was the required fix to get the telluric script to run properly.

I recommend an upda

[2022-02-25 08:48] jhennawi opened #1355 "Docs on slit edges should be sub-heading in the documentation under "Running""

[2022-02-25 08:55] jhennawi opened #1356 "pypeit_setup and pypeit_obslog do not default to print out the same columns"
This can be slightly annoying since then one cannot simply copy from the obslog into the pypeit file. The defaults columns
for each instrument should be the same. See deimos for an example, i.e. obslog prints out calib_id columns whereas setup does not.

[2022-02-25 15:12] jhennawi opened #1357 "pypeit_setup still crashes on keck deimos files with corrupt headers."
See the image d0225_0994.fits posted the PypeIt Develop Slack.

This image has a nominal fits header but lots of information is missing. As we've discussed, pypeit_setup should not crash, since one corrupt files means one cannot do anything with the dataset. This happens to about 3% of files at Keck.

My suggestion is that we 1) do not crash, 2) come up with some script that can populate the heade

[2022-02-26 10:36] jhennawi opened #1358 "Request for functionality to tweak specific slit boundaries by a fixed amount inward"
For DEIMOS bright alignment stars bleed into neighboring slits adding significant systematics. We need a way to hand tweak specific slit boundaries inward to not reduce the bleed contaminated regions. This will significantly reduce the number of slits for which there are artifacts from sky-subtraction.

[2022-02-26 10:41] jhennawi opened #1359 "pypeit_chk_noise_1dspec should overplot the noise vector on top of the spectrum"
Currently it shows the chi plot, but does not overplot the 1sigma noise vector.

[2022-02-28 17:58] KevinMcK95 opened #1361 "[Suggestion] Consider using more complicated profile when measuring arc and sky lines"
In my DEIMOS data, raw arc and sky lines tend to look quite non-Gaussian. The true shape they make is a tophat (defined by the finite slit width) that has been smoothed by some Gaussian kernel with a width that is a function of wavelength (tends to be quadratic with a minimum near the chip gap). When I fit these non-Gaussian shapes with a single Gaussian, I tend to get poor chi^2 measurements, so

[2022-02-28 18:14] KevinMcK95 opened #1362 "[Suggestion] Return a line spread function for each spectrum"
In my research, modelling the line spread function (LSF) of the data is important when I am degrading synthetic stellar spectra to the observed data quality to measure stellar parameters. Many spectral fitting codes keep the LSF as a free parameter and also assume that it is a constant-width Gaussian kernel across the spectrum, but it would be better if PypeI returned a well-measured LSF to remove

[2022-02-28 23:24] jhennawi opened #1364 "data model I/O needs to be bullet proof but it is not (yet)"
Please try the following on the attached file in the #data_model Slack channel on the develop branch:

![Screen Shot 2022-02-28 at 3 24 57 PM](https://user-images.githubusercontent.com/8774563/156075832-81af181d-7552-4cb1-a02b-84ee1e8c23d2.png)

I encounter these issues a lot, and tracking them down takes a lot time given the complexity of the data model code. I could use some help with this.  Eve

[2022-03-01 21:12] prappleizer opened #1366 "Trouble overwriting spectrograph parameters?"
Hi,

I am trying to reduce Palomar DBSP / red data, and it appears that the instrument's specific configs want to use reidentify using a template spectrum, but no template spectrum exists for my grating and dichroic combo.

I would like to try to run the reduction using another method (e.g., holy-grail) and indeed, it seems the way to MAKE a new template would be via this method. But despite addin

[2022-03-01 22:05] finagle29 commented on #1366
That error message is happening because the Palomar DBSP-specific code doesn't check that the wavelength calibration method is `reid_arxiv` before throwing an error for no template spectrum (my bad!). For an immediate fix, you'll need to comment out/edit the offending lines in the DBSP code.

To find the file to edit, just run `python -c "from pypeit.spectrographs import p200_dbsp; print(p200_dbsp

[2022-03-01 22:06] prappleizer commented on #1366
Ah, thank you for the quick response! I will try that fix out.

[2022-03-03 00:52] debora-pe commented on #1186
Addressed in PR #1319. Closing.

[2022-03-03 00:53] #1186 closed, assigned to nobody

[2022-03-07 22:29] tbowers7 commented on #1330
Fixed in #1360 :
[code]

[2022-04-03 14:34] #1366 closed, assigned to nobody

[2022-04-04 06:56] MeArpanGhosh opened #1370 "Mismatch between the number of valid orders found by PypeIt and the number expected for magellan_fire spectrograph"
Hi
     I have been encountering this problem while reducing the echelle spectra from the magellan fire spectrograph. The pipeline says
     "There is a mismatch between the number of valid orders found by PypeIt and the number expected for this spectrograph.  Unable to
      continue."
                  Please help
![issues](https://user-images.githubusercontent.com/30334426/161489515-0538d842-54

[2022-04-06 23:36] biancalondra commented on #676
Hi, can I bother you for a new link? Apparently only members of @ucolick can join right now...
Thanks!

[2022-04-07 00:08] profxj commented on #676
You bet!

https://join.slack.com/t/pypeit-users/shared_invite/zt-162qip946-aK5b~yH4CN35xD2Xz7HmUg

[2022-04-08 04:40] Junjie-Jin opened #1373 "Trouble with run_pypeit"
Hi,

When running the "run_pypeit shane_kast_blue_A.pypeit -o" in "Step by Step Example",  I got the following error:

[code]

I wonder if it is a bug in integer conversion?

I have installed the Pypelt via conda.

[2022-04-11 20:18] tbowers7 commented on #1348
Addressed in #1313

[2022-04-11 20:18] #1348 closed, assigned to nobody

[2022-04-14 22:09] profxj opened #1377 "Generate a template for Bok B&C"

[2022-04-16 13:25] profxj commented on #1377
I have the necessary files in the Drive

[2022-04-16 14:32] tbowers7 commented on #1377
Is this request for a `reid_arxiv` template, or something else?

[2022-04-16 16:09] profxj commented on #1377
Yeah,a `reid_arxiv`.  I have one from the community.
Will add it in before long.

[2022-04-17 13:12] profxj commented on #1373
@Junjie-Jin -- join the PypeIt Slack and seek help there.
  This test is being run all the time successfully, i.e. it must be
  peculiar to your machine.

[2022-04-17 13:12] #1373 closed, assigned to nobody

[2022-04-17 13:13] profxj commented on #1370
Hi @MeArpanGhosh -- odds are your flats aren't bright enough
in the blue.  But am not sure.

Join the PypeIt Slack and seek help there.

[2022-04-17 13:13] #1370 closed, assigned to nobody

[2022-04-22 16:07] profxj opened #1383 "Add a new wavelength template for GMOS R400 + Mosaic"
WIP on branch `gmos_r400`

Probably also set defaults to:

[code]

[2022-04-25 21:37] debora-pe commented on #1359
Addressed in PR #1378. Closing.

[2022-04-25 21:37] #1359 closed, assigned to debora-pe

[2022-04-26 23:07] tbowers7 commented on #1345
Fixed in #1380.

[2022-04-26 23:07] #1345 closed, assigned to nobody

[2022-05-02 20:12] profxj commented on #1383
Done

[2022-05-02 20:12] #1383 closed, assigned to profxj

[2022-05-03 20:55] profxj commented on #676
New one

https://join.slack.com/t/pypeit-users/shared_invite/zt-18c9s2mqq-6kx~5Mq7DH7tze2gqYZeyQ

[2022-05-10 16:40] #1377 closed, assigned to profxj

[2022-05-10 16:52] tbowers7 commented on #1352
Hi @palfeng.  Two of the lines you mentioned (and two others) were recently added, and will be available with v1.9.0 (note: all PypeIt wavelengths are in vacuum):
[code]
As for most of your list, PypeIt tends to avoid blended lines or lines too close together because these lists are used by a variety of instruments at a variety of resolutions.  Blended or close lines at low resolution may affect c

[2022-05-11 11:40] samwang141224 opened #1402 "Inconsistence of manual extraction settings in pypeit file and coadd2d file"
I find an Inconsistence of manual extraction settings in pypeit file and coadd2d file when using the codes in objfind_refactor branch to reduce gemini_gnirs data. Since ginga displays X as spatial and Y as spectral, the manual parameter setting in the pypeit file should be spat:spec:fwhm (X:Y:FWHM), or it will raise an error like

File "/Users/samwang/Downloads/gnirs_typeII/PypeIt/pypeit/core/find

[2022-05-16 14:30] jhennawi opened #1407 "pypeit_setup should never crash"
Run the following command on this file:

Download the following file:

https://drive.google.com/file/d/1igRZCLIzvRhaIS8W9BFJNgV3YIaR-_b5/view?usp=sharing

Run:

pypeit_setup -s vlt_xshooter_nir -r ./

Note that astropy cannot read in this file. It is a compressed fits file. If I uncompress it astropy can read it in. If it remains compressed astropy cannot.

Nevertheless pypeit_setup needs to be ro

[2022-05-16 14:56] profxj commented on #1407
Is this a `pypeit_setup` issue or simply I/O?

i.e. aren't all of our scripts going to fail (e.g. `pypeit_view_fits`)?

[2022-05-16 15:04] kbwestfall commented on #1407
@jhennawi What behavior would you like to see?  As X said, if astropy can't read it, everything in pypeit will fail.  The easiest path for would be for pypeit_setup to report this as a "bad file".

[2022-05-16 15:19] jhennawi commented on #1407
I think a crash in pypeit_view_fits is tolerable in this case, since you know which file you have the problem with in that case. The issue with pypeit_setup crashing is that only a black belt can isolate the file causing the problem and without that ability, a user is simply out of business. I don't think that is acceptable. As such, I think pypeit_setup should just construct a list of files it co

[2022-05-16 15:20] kbwestfall commented on #1407
Okay, that's doable.

[2022-05-16 15:20] jhennawi commented on #1407
I think the bug here is somehow in astropy. Since when I uncompress the file it is just fine. This file was downloaded from the VLT archive. As you can guess, when dealing with hundreds of files there are going to be some corrupt files.

[2022-05-16 20:15] debora-pe commented on #1402
Hi @samwang141224. I don't think the error you get is due to the fact the manual extraction format is different between pypeit file and coadd2d file. The format for manual extraction is always `det:spat:spec:FWHM` . In cases where there is only one detector `det` is 1. Can you tell us which PypeIt version you are using?

[2022-05-16 20:47] jhennawi commented on #1402
Hi @deborape,

I think Sam's issue is not so much the error, but rather why are the conventions different? In the pypeit file it is spat:spec, whereas in the coadd2d parser it is spec:spat

[2022-05-16 20:59] debora-pe commented on #1402
@jhennawi but they are not. The convention is exactly the same.

[2022-05-17 07:58] samwang141224 commented on #1402
Hi @deborape I am using the objfind_refactor branch. If I just copy the manual parameter from the pypeit file to coadd2d file, there will be a 'out of range' error. But if I change the spat and spec in coadd2d file, the coadd 2dspec code runs successfully.

[2022-05-17 08:24] samwang141224 commented on #1402
Hi @deborape this is the manual parameter I used in the pypeit file:
| manual               |
|1:711.2:262.1:5.  |
|1:692.5:263.2:5.|
|1:692.5:263.2:5.|
|1:711.2:262.1:5.  |
|1:711.2:263.2:5. |
|1:691.4:263.2:5.|
|1:691.4:263.2:5.|
|1:711.2:263.2:5.|

and this is the manual parameters I used in the coadd2d file:
[coadd2d]
  manual = 1:262.1:711.8:5.

with this setting, the pypeit and coadd2d can r

[2022-05-17 15:15] jhennawi commented on #1402
I think I see what the issue is. In the .coadd2d file you need to enter the coordinates in the frame of the rectified 2d coadd, since you are manually extracting from that image.

[2022-05-17 16:15] debora-pe commented on #1402
That's right! @samwang141224 you should not use the exact same locations that you used in the pypeit file because the 2d coadded frame has a different shape than the raw file. You should first run coadd2d without manual extraction, identify the location in the coadded frame, and then rerun coadd2d with the manual extraction.

If you think this issue is resolved, please close it.

[2022-05-19 08:30] samwang141224 commented on #1402
Thanks! @deborape I will close this issue.

[2022-05-19 08:30] #1402 closed, assigned to nobody

[2022-05-27 07:19] jhennawi opened #1416 "Heliocentric and Flexure Corrections for 2d Coadds"
We need to think more carefully about how this is implemented and appropriate documentation to make sure users are getting accurate wavelengths on 2d codas.

[2022-06-06 03:12] UseiCHUU commented on #676
Hi, could you post a new link? Thank you!

[2022-06-06 13:08] profxj commented on #676
https://join.slack.com/t/pypeit-users/shared_invite/zt-1aazz9q2c-LgRQsYz2ViuNJlQYdFw8cw

[2022-06-07 12:56] rcooke-ast commented on #1250
Addressed by PR #1422, I believe... closing.

[2022-06-07 12:56] #1250 closed, assigned to rcooke-ast

[2022-06-07 12:59] rcooke-ast commented on #145
This is surely removed with the updates long ago to the spectrograph+detector classes... closing...

[2022-06-07 12:59] #145 closed

[2022-06-07 14:52] kbwestfall commented on #1407
See #1408.  Closing.

[2022-06-07 14:52] #1407 closed, assigned to kbwestfall

[2022-06-08 18:07] profxj commented on #1357
Addressed

[2022-06-08 18:07] #1357 closed, assigned to nobody

[2022-06-08 18:14] profxj commented on #1318
@badpandabear -- was this addressed?
  if so, please close.  And the other one before it.    Thanks!

[2022-06-08 18:48] #1317 closed, assigned to badpandabear

[2022-06-08 18:49] badpandabear commented on #1318
@profxj I started this but it hasn't been completed.

[2022-06-23 14:42] profxj opened #1435 "Consider making find_min_max input wavelengths instead of spec pixel"
The current implementation uses spectral pixels to constrain
the object finding algorithm.  A more sensible approach may
be to use wavelengths.

[2022-07-11 21:50] burke86 commented on #676
Request for new link! Thank you

[2022-07-12 13:48] profxj commented on #676
https://join.slack.com/t/pypeit-users/shared_invite/zt-1cnetpiog-qjr7Pks~XvCajGDq7oEdRQ

[2022-07-27 00:56] tbowers7 commented on #1352
Hi @palfeng. I've submitted a PR to allow users to specify their own line lists, and it should appear in the next release of PypeIt (probably v1.10.1).

A big caveat of using your own line lists is that the wavelengths MUST be **in vacuum** (this is contrary to IRAF and other line catalogs).  See the updated [Wavelength Calibration documentation](https://pypeit.readthedocs.io/en/develop/wave_calib

[2022-08-08 21:09] profxj opened #1455 "Version number appears inconsistent with tag"
While we think we are on 1.10, `pypeit_version` tends to give an older one..

[2022-08-13 23:24] csnap001 opened #1457 "Ginga not functional"
I'm running on MacOS Monterey(v12.4). I've updated to pypeit 1.10.0 and now ginga is not functional. Here is the traceback:
  File "/Users/chrismac/opt/anaconda3/bin/ginga", line 8, in <module>
    sys.exit(_main())
  File "/Users/chrismac/opt/anaconda3/lib/python3.9/site-packages/ginga/rv/main.py", line 753, in _main
    reference_viewer(sys.argv)
  File "/Users/chrismac/opt/anaconda3/lib/python3

[2022-08-14 11:03] jhennawi commented on #1457
Can you indicate your ginga version number. I suspect that is the issue, i.e. this looks like a ginga issue.

Also, note the proper way to launch ginga now from the command line is:

ginga --modules=RC,SlitWavelength

If that is not listed in our docs please let us know and we will fix it.

[2022-08-15 16:13] kbwestfall commented on #1457
Another thing to check: This actually looks like a typical error you get when you try to read an output pypeit file that was produced with a previous version of the code.  Is the file you're trying to read also reduced by pypeit version 1.10.0?  If not, try re-reducing it.

[2022-08-15 18:33] csnap001 commented on #1457
@kbwestfall this file was produced by pypeit v1.10.0. Although it overwrote a file that was previously produced with an earlier version.
@jhennawi ginga version is 3.0.1 and I did not see that command in the docs.

[2022-08-15 21:47] profxj opened #1459 "Update our License"
I left `Astropy Team` in it..

[2022-08-16 15:32] csnap001 commented on #1457
I've now attempted using ginga --modules=RC,SlitWavelength, but I receive what looks like the same traceback:

  File "/Users/chrismac/opt/anaconda3/bin/ginga", line 8, in <module>
    sys.exit(_main())
  File "/Users/chrismac/opt/anaconda3/lib/python3.9/site-packages/ginga/rv/main.py", line 753, in _main
    reference_viewer(sys.argv)
  File "/Users/chrismac/opt/anaconda3/lib/python3.9/site-packa

[2022-08-23 22:44] tomgreene opened #1460 "Request better documentation on output file formats"
It would be helpful to users if the output file formats were documented better. The different extensions / values of the 2D spectral files seem to make sense, but it would be nice to know what all of the columns are in the extracted 1dspec, coadded, fluxed, and telluric corrected files. I can see the different values / columns using the astropy fits reader, but it is not clear what they are from t

[2022-08-23 22:47] kbwestfall commented on #1460
Hi @tomgreene .  +1 for improving the documentation! :)  But, just to make sure, did you see this?

https://pypeit.readthedocs.io/en/release/out_spec1D.html#current-data-model

[2022-08-23 22:56] tomgreene commented on #1460
Thanks @kbwestfall , I did see that but had a hard time connecting the dots between the specific output files and what data model components they contained. It is more clear now, but maybe an additional table would be helpful for more occasional users like myself (columns being the different pypeit files and rows being their specific data model value descriptors).

[2022-08-24 11:09] jhennawi commented on #1460
Thanks @tomgreene for filing this request. @kbwestfall I think the issue is that OneSpec and telluric model outputs are not listed here, which is what @tomgreene was struggling with. I asked him to submit this issue as a reminder for us to document those datamodels.

[2022-08-27 13:27] profxj commented on #1457
@csnap001 - have you posted on the Ginga GitHub?

get that sorted out and let us know if there is still an issue in PypeIt.
thx

[2022-08-27 13:27] #1457 closed, assigned to nobody

[2022-08-28 19:06] rcooke-ast commented on #676
A new link for those that need it:
[https://join.slack.com/t/pypeit-users/shared_invite/zt-1evy2vpdz-zXZdKWV6FzaFDh6h0GSfPA](https://join.slack.com/t/pypeit-users/shared_invite/zt-1evy2vpdz-zXZdKWV6FzaFDh6h0GSfPA)

[2022-08-30 18:24] MNBrod opened #1461 "obslog file is written to wrong location"
Setup is writing the `.obslog` file to where setup was invoked from, not in the output directory. In `pypeitsetup.py` we see `_output_path` correctly joined to `sorted_file`, but that step is missing for `obslog`:

[code]

[2022-09-05 20:15] joaquinhernandezg opened #1462 "Wrong Geocentric Coordinates for Telescopes"
The latitude for the several telescopes in telescopes.py has a wrong value. It produces a shift in heliocentric wavelength calibration, for example. GTC has a longitude of 17.877, it should be negative. Same for Keck, Magellan, VLT, and others.

[2022-09-07 20:14] tomgreene opened #1463 "Coadd2D HOWTO example uses the old / deprecated file format"
The Coadd2D HOWTO at https://pypeit.readthedocs.io/en/latest/coadd2d_howto.html gives an example of making a Coadd2D parameter file in the old / deprecated format. It does not contain the 'filename' or 'path' keywords.
It also sets the snr threshold with the work keyword (should be snr_thresh in current pypeit v 1.10).

The main docs on Coadd2D at https://pypeit.readthedocs.io/en/latest/coadd2d.ht

[2022-09-10 08:14] profxj commented on #1462
@rcooke-ast -- do you agree with this?

[2022-09-10 10:39] rcooke-ast commented on #1462
Interesting... a good find... We have always defined longitudes in `telescopes.py` with west representing positive longitudes.

The problem appears to be that Astropy's [EarthLocation](https://docs.astropy.org/en/stable/api/astropy.coordinates.EarthLocation.html#astropy.coordinates.EarthLocation) defines East as positive longitudes.

I suspect this bug was introduced when we moved to astropy (quit

[2022-09-10 10:46] rcooke-ast commented on #1462
I'll do some additional checks, because we originally checked all of the values against `x_keckhelio` so I'm reluctant to change it unless we can confidently confirm that it is a bug... I'll keep looking into it, and submit a hotfix if needed...

[2022-09-10 12:18] profxj commented on #1462
Thanks!

[2022-09-10 13:05] rcooke-ast commented on #1462
OK - I've cross-checked this against other codes, and it seems we have a bug. I'll patch it now.

[2022-09-10 15:18] rcooke-ast commented on #1462
Fixed by PR #1464

[2022-09-10 15:18] #1462 closed, assigned to rcooke-ast

[2022-09-13 20:17] drupke opened #1467 "wavelength calibration parameter fwhm_fromline for GMOS"
Presently, `gemini_gmos.py` sets the wavelength calibration parameter `fwhm_fromline=True`. With a recent Gemini/GMOS/R400 dataset (spectral binning=2), I found this to give an RMS value 2-3 too high when fitting the wavelength solution. Setting `fwhm_fromline=False`, the default value for most other spectrographs, appeared to reduce the RMS to the proper range (<0.1 pix).

[2022-09-14 08:36] temuller opened #1468 "cannot import name 'msgs' from 'pypeit'"
I have installed pypeit in developer mode on an anaconda environmnet:

[code]
but when I run the test `run_pypeit -h` I get:

[code]

Current version: `1.10.1.dev3+g52d10eddd`. The pip version works correctly though.

[2022-09-14 16:59] kbwestfall commented on #1468
Hi @temuller ,  I tried and cannot reproduce your error using a fresh clone and fresh environment.  I expect this error is specific to your system.  What is your OS and python version?

[2022-09-14 17:27] Yilunium opened #1469 "mismatch between valid orders and number expected"
I was reducing the echelle spectra from Magellan FIRE and encountered this error when I ran `run_pypeit`. Is there a way to resolve this?

`[ERROR]   :: findobj_skymask.py 340 ech_objfind() - There is a mismatch between the number of valid orders found by PypeIt and the number expected for this spectrograph.  Unable to continue.  Please submit an issue on Github: https://github.com/pypeit/PypeIt/i

[2022-09-14 17:51] temuller commented on #1468
I am using Ubuntu 22.04 with python 3.9.

[2022-09-14 17:59] kbwestfall commented on #1468
Hmm...  I would expect that to work.  It's difficult for me to help debug when I can't reproduce the error.  I would suggest posting your issue in the #installing channel on the PypeIt Users Slack to see if anyone else has had this problem and may have a solution.  Other developers will see this github comment, so they may have suggestions for you as well.

[2022-09-14 18:12] #1469 closed, assigned to nobody

[2022-09-14 19:34] temuller commented on #1468
Will do, thanks.

[2022-09-15 08:36] temuller commented on #1468
I solved this by properly installing pyetst in the anaconda environment, as suggested in [pypeit/PypeIt-development-suite#221](https://github.com/pypeit/PypeIt-development-suite/issues/221). Thanks!

[2022-09-15 08:36] #1468 closed, assigned to nobody

[2022-09-21 21:43] cgelino opened #1472 "Include directory structure in output file description"
It would be most helpful to include the directory structure out the output files.  Some of the directories are duplicated (ex. 'lev2/keck_mosfire_G/keck_mosfire_G/Masters/') which seems like a bug but might make sense for other instruments.  So, it would be helpful to describe where those names come from.  Thanks.

[2022-09-27 13:26] jhennawi opened #1474 "more pypeit_setup bad header crashes"
As titled. Trace image is attached as well as google drive link (in developer slack) to the data. Image 77 is the culprit.

![Screen Shot 2022-09-27 at 3 23 04 PM](https://user-images.githubusercontent.com/8774563/192538736-97d9a156-625a-4665-b4d1-b2bf637b13f5.png)

[2022-09-29 17:35] JoshuaPovick opened #1475 "Cannot install PypeIt for some reason"
I'm trying to install PypeIt on my laptop and everything I have tried does not seem to work. I would prefer to use pip. I have tried pip3 and also the conda installation instructions. Other people that I know, who have installed PypeIt on a similar machine, did not run into any issues. Any help would be much appreciated.

Here are the specs of my laptop:
<img width="592" alt="macbook_specs" src="h

[2022-09-29 17:44] kbwestfall commented on #1475
You're getting a lot of `SetuptoolsDeprecationWarning`s that I don't understand, but I'm wondering if the real issue is:

`error: command '/usr/bin/gcc' failed with exit code 1`

Do you have gcc installed?  You may need to update XCode and/or install gcc.  If you've never used it before, Homebrew (https://brew.sh/) makes installing things like gcc pretty easy.  Once you have homebrew installed, in

[2022-09-29 18:48] JoshuaPovick commented on #1475
Thank you so much @kbwestfall!

I didn't have XCode or gcc. Apparently when you have two laptops it's easy to assume you have done something on one, but in reality it was a different computer. I feel smart now.

[2022-09-29 18:48] #1475 closed, assigned to nobody

[2022-09-29 20:35] kbwestfall commented on #1475
Haha, no worries.  Glad this was an easy fix.  Not all installation issues are ...  Thanks for reporting that you solved the problem and for closing the issue!

[2022-10-03 21:20] mhallum commented on #676
I think that the link has expired. Could I have a new one? Thank you.

[2022-10-03 21:36] profxj commented on #676
https://join.slack.com/t/pypeit-users/shared_invite/zt-1h71q40bn-cCH_jBuD5KC38e7pCNhYjg

[2022-10-07 14:37] prappleizer opened #1479 "In matplotlib >3.3, set_window_title method is depreciated, and causes an error when using skysub gui"
With matplotlib version >3.3, the `set_window_title` method has been depreciated. The latest version of pypeit installed from git still uses this method with the manual sky definition gui, throwing an error on launch:

[code]

I was able to resolve the problem by downgrading to matplotlib 3.3, but in the future this should be fixed as we are past matplotlib 3.6 at this point.

From the perspective

[2022-10-11 06:32] rcooke-ast commented on #1479
Addressed by PR #1482 - Thanks for submitting the issue @prappleizer!

[2022-10-11 06:32] #1479 closed, assigned to rcooke-ast

[2022-10-15 15:41] xyz3919 opened #1489 "The attribute "set_window_title" no longer exists in fig.canvas"
I recently installed Pypelt and analyzed the Gemini/GMOS long-slit data for my project.
I was running pypeit_identify, then I got the error message about the plotting function.

File "/home/xxxxx/.conda/envs/pypeit/lib/python3.9/site-packages/pypeit/core/gui/identify.py", line 337, in initialise
    fig.canvas.set_window_title('PypeIt - Identify')
AttributeError: 'FigureCanvasQTAgg' object has no

[2022-10-18 21:48] kbwestfall commented on #1472
I agree that this seems like a bug, but I'm not sure it's a bug in the PypeIt code base itself.  Executing `run_pypeit` should (by default) only create the `Masters` directory from where it's called.  `pypeit_setup` will create the, e.g., `keck_mosfire_G` directory, but its as if `pypeit_setup` was executed a 2nd time from within that directory.  Can you check how the code was executed?

[2022-10-18 21:50] kbwestfall commented on #1460
Hi @tomgreene .  This is being addressed in #1488 .  Please see the under-review new format here: https://pypeit.readthedocs.io/en/doc_refactor .  Your welcome to provide any more comments here or on the PR.

[2022-10-18 21:53] kbwestfall commented on #1461
I sneaked this fix into #1488 .

[2022-10-18 22:26] kbwestfall commented on #1474
Hi @jhennawi .  I've got a fix in for this; see https://github.com/pypeit/PypeIt/compare/develop...setup_fix

I don't know why we removed the try/except block that used to catch the MJD error at this place in `keck_lris.py`.  We should check on that before issuing a PR.

[2022-10-19 17:07] jhennawi commented on #1474
Hi @kbwestfall,  I think @profxj did not want it in there is my recollection. We should get his opinion on it.

[2022-10-19 20:40] profxj commented on #1474
What I wish to avoid is a solution that will pass through on `pypeit_setup` *and* `run_pypeit`.
  i.e. `run_pypeit` better crash if the MJD is buggered up.

[2022-10-19 21:44] kbwestfall commented on #1474
The specific use that was causing a problem was parsing the MJD to determine the observation date that is then used to define the available set of lamps.  I.e., this isn't the general read of the MJD.  I think `run_pypeit` should still fault as it would have before if it can't read the MJD.  But is there a dataset that we can check this on?  Maybe you can test this @jhennawi with this same dataset

[2022-10-20 01:44] debora-pe commented on #1463
Addressed in #1490
Closing this.

[2022-10-20 01:44] #1463 closed, assigned to debora-pe

[2022-10-25 19:41] profxj opened #1493 "usebiasimage=False"
We seemed to have lost how to show folks how
to edit their config paramters to turn off bias subtraction.

Let's make them reappear, i.e.

[code]

[2022-10-25 21:05] kbwestfall commented on #1493
Is this it?

https://pypeit.readthedocs.io/en/release/calibrations/image_proc.html#example-changes

[2022-10-25 21:28] profxj commented on #1493
Yes, thanks!

[2022-10-26 01:03] kbwestfall commented on #1461
Addressed and merged.

[2022-10-26 01:03] #1461 closed, assigned to kbwestfall

[2022-10-26 01:15] kbwestfall commented on #1474
Just so it didn't get lost, I issued the current fix in #1494 .

[2022-10-26 01:17] kbwestfall commented on #1493
Closing.

[2022-10-26 01:17] #1493 closed, assigned to kbwestfall

[2022-10-26 03:18] bpholden opened #1496 "pypeit_show_2dspec fails on Mosaiced DEIMOS data"
`pypeit_show_2dspec`    `spec2d_DE.20141129.48350-M454D_1_DEIMOS_20141129T132545.638.fits`

[ERROR]   :: DET01 not available in any extension of spec2d_DE.20141129.48350-M454D_1_DEIMOS_20141129T132545.638.fits
_traceback deleted_
pypeit.pypmsgs.PypeItError: DET01 not available in any extension of spec2d_DE.20141129.48350-M454D_1_DEIMOS_20141129T132545.638.fits

This will run with
`pypeit_show_2dsp

[2022-10-27 00:31] kbwestfall commented on #1489
@rcooke-ast Did you recently fix this?

[2022-10-27 00:32] kbwestfall commented on #1472
After talking to Max, I'm closing this.  Feel free to re-open.

[2022-10-27 00:32] #1472 closed, assigned to nobody

[2022-10-27 00:39] profxj commented on #46
Partially implemented

[2022-10-27 00:39] #46 closed

[2022-10-27 00:40] profxj commented on #250
closing

[2022-10-27 00:40] #250 closed

[2022-10-27 00:41] profxj commented on #377
Nearly satisfied by #1269

[2022-10-27 00:41] #377 closed

[2022-10-27 00:41] profxj commented on #586
closing

[2022-10-27 00:41] #586 closed

[2022-10-27 00:41] profxj commented on #612
closing

[2022-10-27 00:41] #612 closed

[2022-10-27 00:41] profxj commented on #614
closing

[2022-10-27 00:41] #614 closed

[2022-10-27 00:42] profxj commented on #628
outdated

[2022-10-27 00:42] #628 closed

[2022-10-27 00:44] profxj commented on #667
closing

[2022-10-27 00:44] #667 closed

[2022-10-27 00:44] profxj commented on #693
closing

[2022-10-27 00:44] #693 closed

[2022-10-27 00:45] profxj commented on #694
@debora-pe -  is this good to close?

[2022-10-27 00:45] profxj commented on #699
The .sorted file is no more

[2022-10-27 00:45] #699 closed

[2022-10-27 00:45] kbwestfall commented on #1467
Thanks for the report, @drupke .  We'll keep this in mind and have added a note to the documentation (PR #1494) , but we'll leave the current default for now.  Please let us know if you continue to find this to be necessary for additional datasets.

[2022-10-27 00:45] #1467 closed, assigned to nobody

[2022-10-27 00:46] kbwestfall commented on #1460
Closing for now, but please do let us know if you have any more documentation requests!

[2022-10-27 00:46] #1460 closed, assigned to nobody

[2022-10-27 00:46] profxj commented on #786
stale

[2022-10-27 00:46] #786 closed

[2022-10-27 00:47] profxj commented on #810
closing

[2022-10-27 00:47] #810 closed

[2022-10-27 00:47] profxj commented on #824
@kbwestfall -- good now?

[2022-10-27 00:47] #824 closed

[2022-10-27 00:48] #851 closed

[2022-10-27 00:49] profxj commented on #878
pruned

[2022-10-27 00:49] #878 closed

[2022-10-27 00:49] kbwestfall commented on #1459
Snuck into #1494 .

[2022-10-27 00:49] #1459 closed, assigned to nobody

[2022-10-27 00:50] profxj commented on #921
Expanding out in the `vet` tests

[2022-10-27 00:50] #921 closed

[2022-10-27 00:50] profxj commented on #939
closing

[2022-10-27 00:50] #939 closed

[2022-10-27 00:51] kbwestfall commented on #1455
This continues to happen when working on github branches.  I'm not sure if there's a way around this.  Any thoughts @tepickering ?  FWIW, my tests using a pip installation show the correct version.

[2022-10-27 00:51] profxj commented on #982
deprecated

[2022-10-27 00:51] #982 closed

[2022-10-27 00:52] profxj commented on #1051
gone

[2022-10-27 00:52] #1051 closed

[2022-10-27 00:54] debora-pe commented on #694
Yes! Addressed here: https://github.com/pypeit/PypeIt/pull/1375
Closing.

[2022-10-27 00:54] #694 closed

[2022-10-27 00:54] profxj commented on #1060
Re-open if you can provide a test dataset

[2022-10-27 00:54] #1060 closed

[2022-10-27 00:55] profxj commented on #1099
am assuming so

[2022-10-27 00:55] #1099 closed

[2022-10-27 01:00] kbwestfall commented on #1364
Do you remember if the datamodel had changed between versions?  This looks like one of those errors.  We've never guaranteed that datamodels are backwards compatible.

[2022-10-27 01:02] kbwestfall commented on #1355
Any thoughts on this after the recent refactor of the left menu bar?

[2022-10-27 01:06] kbwestfall commented on #1352
@tbowers7 Do you feel this is now addressed?  If so, please close the issue.  @palfeng , feel free to reopen or open a new issue if you still have concerns.

[2022-10-27 01:09] kbwestfall commented on #1349
Looking at the most recent code, I think this is now fixed.  Please reopen if not.

[2022-10-27 01:09] #1349 closed, assigned to nobody

[2022-10-27 01:12] kbwestfall commented on #1332
The user's slack invite is in the closed issue #676 .  Please request a new invite link if the current one is outdated.

Closing.  Please re-open if this is still an issue.

[2022-10-27 01:12] #1332 closed, assigned to nobody

[2022-10-27 01:13] kbwestfall commented on #1330
The last comment indicates this is fixed.  Closing.

[2022-10-27 01:13] #1330 closed, assigned to nobody

[2022-10-27 01:14] kbwestfall commented on #1327
Where are we on this?  Should we revive the discussion?

[2022-10-27 01:15] kbwestfall commented on #1323
@freddavies Can you comment on whether or not this is still an issue?

[2022-10-27 01:16] kbwestfall commented on #1318
Looks like this has been addressed.  Please re-open if not.

[2022-10-27 01:16] #1318 closed, assigned to badpandabear

[2022-10-27 01:18] kbwestfall commented on #1309
Any progress to report here?

[2022-10-27 01:18] kbwestfall commented on #1306
Any progress to report?

[2022-10-27 01:21] kbwestfall commented on #1287
Done in #1488 .

[2022-10-27 01:21] #1287 closed, assigned to nobody

[2022-10-27 01:22] kbwestfall commented on #1286
Any progress to report?

[2022-10-27 01:24] tepickering commented on #1455
i'd have to dig into it and refresh my memory. that said, it looks like the 1.11.0 tag isn't in the history for the `develop` branch which is i think why `setuptools_scm` returns a version of `1.10.1.dev326+ge55e00e9f`. i did a `git merge "1.11.0"` locally and that does fix it.

[2022-10-27 01:25] tepickering commented on #1455
do note, you need `setuptools_scm` to be installed for `pypeit_version` to be able to directly query git to build the version. otherwise it will return whatever gets hard-coded into `pypeit/version.py` at install time.

[2022-10-27 01:27] kbwestfall commented on #1455
So this sounds like user error, not something that requires a code fix.  Let us know if you find anything, @tepickering , but I'm closing this for now.

[2022-10-27 01:27] #1455 closed, assigned to nobody

[2022-10-27 01:31] kbwestfall commented on #1232
GMOS now uses mosaic reductions.  Closing.

[2022-10-27 01:31] #1232 closed, assigned to kbwestfall

[2022-10-27 01:33] kbwestfall commented on #1228
Assuming this issue is now resolved.  Please re-open if not.

[2022-10-27 01:33] #1228 closed, assigned to jhennawi

[2022-10-27 01:34] kbwestfall commented on #1224
@profxj , Can you confirm this is still an issue and close if not?

[2022-10-27 01:36] kbwestfall commented on #1207
Looks like this is still an issue.

[2022-10-27 01:37] #1206 closed, assigned to tepickering, kbwestfall

[2022-10-27 01:38] kbwestfall commented on #1188
Any update?

[2022-10-27 01:39] kbwestfall commented on #1183
Please re-open if this is still an issue.

[2022-10-27 01:39] #1183 closed, assigned to jhennawi

[2022-10-27 01:39] kbwestfall commented on #1178
It's been more than a year.  Closing.

[2022-10-27 01:39] #1178 closed, assigned to nobody

[2022-10-27 01:43] kbwestfall commented on #1171
Any update?

[2022-10-27 01:44] kbwestfall commented on #1170
Addressed in #1275.  Closing.

[2022-10-27 01:44] #1170 closed, assigned to nobody

[2022-10-27 02:11] #1095 closed

[2022-10-27 02:12] kbwestfall commented on #1067
I think this has been addressed.

[2022-10-27 02:12] #1067 closed

[2022-10-27 02:18] kbwestfall commented on #998
@debora-pe Is this done now?

[2022-10-27 02:22] kbwestfall commented on #970
@profxj Is this done?  See `percentile_sn2` in `fit_profile`.

[2022-10-27 02:23] #962 closed

[2022-10-27 02:26] kbwestfall commented on #951
I think this has been done, but using a different implementation.

[2022-10-27 02:26] #951 closed

[2022-10-27 02:27] #926 closed

[2022-10-27 02:31] #912 closed

[2022-10-27 02:33] debora-pe commented on #998
Oh yeah! It's done!
Closing.

[2022-10-27 02:33] #998 closed

[2022-10-27 02:34] #898 closed

[2022-10-27 02:35] palfeng commented on #1352
Thanks! I think it’s good for now. I haven’t used Pypeit very recently, so I will try later and let you know if I get any issues.

-Xinfeng

[2022-10-27 02:35] #1352 closed, assigned to tbowers7

[2022-10-27 02:48] kbwestfall commented on #866
Was this addressed during the object finding refactor?

[2022-10-27 02:49] #848 closed

[2022-10-27 02:51] kbwestfall commented on #838
We now have OneSpec.  Closing.

[2022-10-27 02:51] #838 closed

[2022-10-27 02:55] #758 closed

[2022-10-27 02:56] #756 closed

[2022-10-27 02:57] #737 closed

[2022-10-27 03:04] #707 closed

[2022-10-27 03:07] #647 closed

[2022-10-27 03:08] #633 closed

[2022-10-27 03:08] #626 closed

[2022-10-27 03:09] #624 closed

[2022-10-27 03:09] #622 closed

[2022-10-27 03:10] #566 closed

[2022-10-27 03:12] kbwestfall commented on #669
repeat of #359

[2022-10-27 03:12] #669 closed

[2022-10-27 03:12] #329 closed

[2022-10-27 03:12] #309 closed

[2022-10-27 03:13] kbwestfall commented on #287
Closing, but would be useful to open additional issues based on any of these.

[2022-10-27 03:13] #287 closed

[2022-10-27 07:43] rcooke-ast commented on #1489
Addressed by PR #1482... closing.

[2022-10-27 07:43] #1489 closed, assigned to nobody

[2022-10-29 08:46] stevenrjanssens opened #1498 "pypeit_cache_github_data keck_deimos misses some calibration data"
The nodes in my high performance computing environment do not have outside access so I ran `pypeit_cache_github_data keck_deimos` to cache everything Pypeit needs. However, `run_pypeit` still attempts to download some stuff:
[code]

And this appears to occur for every grating.

[2022-11-04 19:43] ntejos opened #1500 "Pypeyt_setup not parsing soar_goodman_red files"
Hi,

The version of PypeIt is: 1.10.1.dev329+g4ad54968d

Issue: when running `pypeit_setup -s soar_goodman_red -r ../Raw_test/` the following error is raised:

There are 3 SOAR files inside ``../Raw_test/`` which can be (temporarily) found here: https://drive.google.com/drive/folders/1s5cggkfS9fMKrrInkDgUxO_OiaEv5RmD?usp=sharing for reference.

This suggests that is a parsing issue with the file h

[2022-11-05 21:32] SunilSimha opened #1501 "DEIMOS slitspatnum bug"
Hi,

I want to reduce some DEIMOS MoS data but I'm only interested in a particular object. Therefore, I tried using the `slitspatnum` parameter as follows:
[code]

I get the following error:
[code]
I believe this is because PypeIt has internally set the default values for `detnum` earlier and is therefore tripping this `raise` statement.

[2022-11-07 16:10] kbwestfall commented on #1500
I took a quick look at this.  The issue is that the format of the files are different from what PypeIt expects.  The files we have in our dev-suite are all `*.fz` files that have two extensions.  So PypeIt pulls header data from the 2nd extension.  Your files only have one extension, so the code barfs when it tries to access the header of the non-existent 2nd extension.  Do you have `*.fz` version

[2022-11-07 16:41] ntejos commented on #1500
I see, thanks for looking at this. I do not have the corresponding `.fz` files, I retrieved these SOAR files via direct communication with the observer.

[2022-11-07 16:44] kbwestfall commented on #1500
Hmm... That sounds like something PypeIt should allow!  I think @profxj was the one that wrote the SOAR spectrograph class, so we should check with him about why the files are different.

[2022-11-07 16:55] rcooke-ast commented on #1500
FYI - I ran into this issue too with SOAR Goodman data... I'm pretty sure it can be resolved by downloading the .fz files (which is the default "preferred" option by the SOAR archive). If there's no way for you to get the SOAR files in .fz format, check out this PR, which will help you to modify your version of PypeIt to reduce your data:

[https://github.com/pypeit/PypeIt/pull/1303](https://githu

[2022-11-07 19:10] tbowers7 commented on #1352
Yes, this was included in v11.0, so all set.

[2022-11-07 19:25] ntejos commented on #1500
Thanks @rcooke-ast - If I compress using rice, Pypeit seems to recognize the files and work properly. We can close this issue, but it would be good to add a warning somewhere in the code for cases when the files are not `.fz` for SOAR.

[2022-11-07 19:38] rcooke-ast commented on #1500
No problems! It's not so straightforward to do that in the code at the moment, but maybe it would help to add this in a general way... will think about this some more before closing...

[2022-11-07 20:52] rcooke-ast commented on #1500
OK @ntejos - I have added a hook for this. Addressed by PR #1502... closing

[2022-11-07 20:52] #1500 closed, assigned to rcooke-ast

[2022-11-07 21:34] tbowers7 commented on #1498
@stevenrjanssens : To help me track this down, could you also include the informational lines printed before this error statement?

[2022-11-07 23:32] #1498 closed, assigned to tbowers7

[2022-11-07 23:36] tbowers7 commented on #1498
@stevenrjanssens : This fix has been merged in, watch for the next Release of PypeIt.

[2022-11-12 01:58] profxj commented on #1496
Being addressed in the `merge_ql` branch

[2022-11-17 17:08] #1474 closed, assigned to nobody

[2022-11-17 17:09] #1355 closed, assigned to nobody

[2022-11-17 17:35] kbwestfall opened #1509 "Keck/NIRES Darks"
Include code that will automatically identify Keck/NIRES dark frames, if possible.

[2022-11-23 11:04] fpoidevin commented on #676
It looks like the last link has expired. Could someone post a new one ? Thank you.

[2022-11-23 13:25] profxj commented on #676
https://join.slack.com/t/pypeit-users/shared_invite/zt-1kawmzfdx-qnHb0MuzOBVAu2T1chuqjg

[2022-11-28 22:26] jhod0 opened #1513 "Minor `pypeit_identify` bug"
Trying to run `pypeit_identify` to manually fit arc lines, I get the error:

[code]

A quick google found the same problem [here](https://github.com/Udayraj123/OMRChecker/pull/56) was fixed by changing `fig.canvas.set_window_title` to `fig.canvas.manager.set_window_title`.

That worked for me and I can now run the script! I can open a PR implementing that one-line change, but I am unsure what vers

[2022-11-29 20:05] jhod0 commented on #1513
It looks like this was already fixed by commit 7cece4ea2e and the release branch has not incorporated it yet

[2022-11-29 20:05] #1513 closed, assigned to nobody